.users{
  padding: 68px 12px;
  width: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  .add-new-user{
    animation: var(--anim);
    color: white;
    background: black;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
  }
  table{
    animation: var(--anim);
    width: 60%;
    margin: auto ;
    border-radius: 6px;
    padding: 30px;
    border: solid 1px ;
    box-shadow: 0 0 3px 0px #0000007d;
  }
  thead{
    text-align: left;
  }
  td{
    margin: 5px 0;
  }
  tbody{
    text-align: left;
  }
  #action-zone{
    display: flex;
    align-items: center;
    gap: 8px
  }
  #action-zone #update, #action-zone #danger{
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #action-zone #update{
    background: lightgrey;
  }
  #action-zone #update svg{
    color: black;
  }
  #action-zone #danger{
    background: red;
  }
  #action-zone #danger svg{
    color: white;
  }
  
  .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #0000008a;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .active{
    visibility: visible;
    opacity: 1;
  }
  .open-danger-area{
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 0 3px 0px #0000007d;
  }
  .open-danger-area p{
    font-size: 18px;
  }
  .btns{
    display: flex;
    gap: 8px
  }
  .btns button{
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
  }
  .btns :nth-child(1){
    background: red;
    color: white;
  }
  .btns :nth-child(2){
    background: rgba(211, 211, 211, 0.775);
  }

  #action-zone  svg{
    width: 28px;
    height: 28px;
    padding: 6px;
  }
  
  
  
  @media (width < 768px) {
    .users{
      flex-direction: column-reverse;
    }
    .add-new-user{
      width: 100%;
      text-align: center;
      padding: 14px 0;
    }
    table{
      width: 100%;
      padding: 30px 15px;
    }
  }